$main-color: #1e252b;
$title-color: #ffffffe5;
$title-color: #8d8b8be5;
// $form-color: #283036;
// $tool-title-color: #cdcfd0;
// $tool-plan-color: #ffa5378c;
// $tool-desc-color: #9a9da0;

$font-family: "Monserrat", sans-serif;

$content-width: 1224px;
