.tasks-page {
  height: 100vh;

  .header {
    height: 70px;
    background: rgb(63, 167, 106);
    border-bottom: 1px solid grey;
    margin-bottom: 25px;
    display: flex;
    align-items: center;

    .container {
      width: 100%;
    }

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      .header__left {
        .header__buttons {
          .ant-btn {
            border-radius: 2px;
            &:hover {
            }
          }
        }
      }

      .header__right {
        .avatar {
          .avatar__pic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: white;
          }
        }
      }
    }
  }

  .main-content {
    height: calc(100vh - 95px);
    .container {
      height: 100%;
      .tasks-box {
        height: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
